body {
    background-color: aquamarine;
    font-family: fantasy;   
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

.game {
    display: flex;
    justify-content: center;
}

.box {
    border: 2px black solid;
    padding: 20px;
    border-radius: 10px;
}

.play:hover {
    background-color: blueviolet;
}