<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Rock Paper Scissor Game</title>
</head>
 

<body>
    <h1>Rock, Paper, Scissors</h1>
    <div class="game">
        <div class="box">
            <nav class="players">
                <h1>Welcome to our game of Rock, Paper, Scissors</h1>
                <ul>
                   <li><a href="/rules">Game Rules</a></li>
                    <li><a href="/play">Play Against Computer</a></li>
                    </ul>
               </nav>
                
                     {% block content %} {% endblock %}
        </div>
        

    </div>

</body>
      


</html>